.cardImg {
  width: 218px;
  height: 300px;
  border: 1px solid;
  border-radius: 4px;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
}

.cardCol {
  text-align: center;
  cursor: pointer;
  padding-bottom: 15px;
}
